<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.familydoctor.doctorsubject.mapper.DiseaseClassMapper">
    <resultMap id="BaseResultMap" type="com.familydoctor.doctorsubject.entity.DiseaseClass">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="disease_class_name" jdbcType="VARCHAR" property="diseaseClassName"/>
        <result column="disease_class_no" jdbcType="VARCHAR" property="diseaseClassNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, disease_class_name, disease_class_no, create_time, update_time, delete_time, 
    create_user, update_user, delete_user, del_flag
  </sql>
    <!--查询所有疾病类别-->
    <select id="selectRound" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from disease_class
        <where>
            del_flag!="1"
        </where>
    </select>
    <!--分页查询-->
    <select id="selectPage" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from disease_class
        <where>
            del_flag = '0'
        </where>
        limit #{pageSize},#{pageNo}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from disease_class
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from disease_class
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass">
    insert into disease_class (id, disease_class_name, disease_class_no, 
      create_time, update_time, delete_time, 
      create_user, update_user, delete_user, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{diseaseClassName,jdbcType=VARCHAR}, #{diseaseClassNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{deleteUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into disease_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="diseaseClassName != null">
                disease_class_name,
            </if>
            <if test="diseaseClassNo != null">
                disease_class_no,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="diseaseClassName != null">
                #{diseaseClassName,jdbcType=VARCHAR},
            </if>
            <if test="diseaseClassNo != null">
                #{diseaseClassNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass">
        update disease_class
        <set>
            <if test="diseaseClassName != null">
                disease_class_name = #{diseaseClassName,jdbcType=VARCHAR},
            </if>
            <if test="diseaseClassNo != null">
                disease_class_no = #{diseaseClassNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="softDelete" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass">
    update disease_class
    set
    delete_time = #{deleteTime,jdbcType=TIMESTAMP},
     del_flag = "1"
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.familydoctor.doctorsubject.entity.DiseaseClass">
    update disease_class
    set disease_class_name = #{diseaseClassName,jdbcType=VARCHAR},
      disease_class_no = #{diseaseClassNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>