<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.familydoctor.doctorsubject.mapper.LableMapper">
    <resultMap id="BaseResultMap" type="com.familydoctor.doctorsubject.entity.Lable">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="lable_name" jdbcType="VARCHAR" property="lableName"/>
        <result column="lable_number" jdbcType="VARCHAR" property="lableNumber"/>
        <result column="lable_class_id" jdbcType="VARCHAR" property="lableClassId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, lable_name, lable_number, lable_class_id, create_time, update_time, delete_time, 
    create_user, update_user, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lable
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--分页查询-->
    <select id="selectPage" parameterType="com.familydoctor.doctorsubject.entity.Lable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lable
        <where>
            del_flag = "0"
        </where>
        limit #{begingNo},#{pageSize}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lable
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <!--逻辑删除-->
    <update id="softDelete" parameterType="com.familydoctor.doctorsubject.entity.Lable">
    update lable
    set
         delete_time = #{deleteTime,jdbcType=TIMESTAMP},
     del_flag = "1"
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--由多个LableName查询对应的Lable-->
    <select id="selectByName" parameterType="java.util.Arrays" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lable
        <where>
            lable_name in
            <foreach collection="array" item="lablename" index="index" open="(" close=")" separator=",">
                #{lablename}
            </foreach>
        </where>
    </select>

    <!--查询列表-->
    <select id="selectRound" parameterType="com.familydoctor.doctorsubject.entity.Lable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lable
        <where>del_flag="0"</where>
    </select>

    <insert id="insert" parameterType="com.familydoctor.doctorsubject.entity.Lable">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into lable (id, lable_name, lable_number,
        lable_class_id, create_time, update_time,
        delete_time, create_user, update_user,
        delete_user, del_flag)
        values (#{id,jdbcType=VARCHAR}, #{lableName,jdbcType=VARCHAR}, #{lableNumber,jdbcType=VARCHAR},
        #{lableClassId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleteTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR},
        #{deleteUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.familydoctor.doctorsubject.entity.Lable">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into lable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="lableName != null">
                lable_name,
            </if>
            <if test="lableNumber != null">
                lable_number,
            </if>
            <if test="lableClassId != null">
                lable_class_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="lableName != null">
                #{lableName,jdbcType=VARCHAR},
            </if>
            <if test="lableNumber != null">
                #{lableNumber,jdbcType=VARCHAR},
            </if>
            <if test="lableClassId != null">
                #{lableClassId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.familydoctor.doctorsubject.entity.Lable">
        update lable
        <set>
            <if test="lableName != null">
                lable_name = #{lableName,jdbcType=VARCHAR},
            </if>
            <if test="lableNumber != null">
                lable_number = #{lableNumber,jdbcType=VARCHAR},
            </if>
            <if test="lableClassId != null">
                lable_class_id = #{lableClassId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.familydoctor.doctorsubject.entity.Lable">
    update lable
    set lable_name = #{lableName,jdbcType=VARCHAR},
      lable_number = #{lableNumber,jdbcType=VARCHAR},
      lable_class_id = #{lableClassId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>